{% extends "base.html" %}
{% block title %}Occupation{% endblock %}

<style>
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  </style>

{% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-5 col-md-6 m-auto card p-4">
        <form action="{{ url_for('views.funding') }}" method="POST" class="card-body">
          <form action="/action_page.php"></form>
            <!-- <h4 align="right">Welcome {{ current_user.username }}</h4> -->
            <div class="container py-4">
                <h1 align="center">Occupation Details</h1>
                  <br>
                  <h6 align="center">This requires information pertaining to the occupation in which you are employed at the time of completing this questionnaire</h6>
                  <br>
                    <div class="mb-3">
                        <label for="occupation" class="form-label form-select-lg mb-3 text-right">Occupation</label>
                        <input type="name" class="form-control form-select-lg mb-3" id="occupation" name="occupation" placeholder="" aria-label=".form-select-lg example">
                    </div>

                    <label for="functionalunit" class="form-label form-select-lg mb-3 text-right">Name of Functional Unit</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="functionalunit" id="functionalunit">
                        <option selected></option>
                        <option value="1">Technical/Infrastructure</option>
                        <option value="2">Finance & Administration</option>
                        <option value="3">Corporate Services</option>
                        <option value="4">Community & Social Services</option>
                        <option value="5">Municipal Manager's Officel</option>
                        <option value="6">Political Office</option>
                        <option value="7">Development Planning</option>
                        <option value="8">Electricity</option>
                        <option value="9">Environmental Protection</option>
                        <option value="10">Health</option>
                        <option value="11">Public Safety</option>
                        <option value="12">Road Transport</option>
                        <option value="13">Sport and Recreation</option>
                        <option value="14">UWaste Management</option>
                        <option value="15">Waste Water Management</option>
                        <option value="16">Water</option>
                    </select>

                    <label for="employmentstatus" class="form-label form-select-lg mb-3 text-right">Employment Status</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="employmentstatus" id="employmentstatus">
                        <option selected></option>
                        <option value="1">Permanent</option>
                        <option value="2">Part-Time</option>
                        <option value="3">Contract</option>
                        <option value="4">Internship</option>
                        <option value="5">Learnership</option>
                        <option value="6">Temporary</option>
                        <option value="7">Independent Contractor</option>
                        <option value="8">Freelance</option>
                        <option value="9">On-Call</option>
                        <option value="10">Volunteer</option>
                    </select>

                    <label for="municipaldivision" class="form-label form-select-lg mb-3 text-right">Organisational Municipal Division:</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="municipaldivision" id="municipaldivision">
                        <option selected></option>
                        <option value="1">Community services (social services; social and community services; social development)</option>
                        <option value="2">Corporate Services (Human Resources & Administration Department)</option>
                        <option value="3">Financial Services (Finance, Budget and Treasury)</option>
                        <option value="4">Office of the Mayor</option>
                        <option value="5">Office of the Municipal Manager</option>
                        <option value="6">Planning and Development (Planning and Economic Development, Planning Research & Economic Development, Economic Development and Planning, Housing)</option>
                        <option value="7">Technical services (Infrastructure Services, Infrastructure Development Services, Engineering Services)</option>
                    </select>


                    <label for="placement" class="form-label form-select-lg mb-3 text-right">Municipal Division you are currently placed in</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="placement" id="placement">
                        <option selected></option>
                        <option value="1">Community services (social services; social and community services; social development)</option>
                        <option value="2">Corporate Services (Human Resources & Administration Department)</option>
                        <option value="3">Financial Services (Finance, Budget and Treasury)</option>
                        <option value="4">Office of the Mayor</option>
                        <option value="5">Office of the Municipal Manager</option>
                        <option value="6">Planning and Development (Planning and Economic Development, Planning Research & Economic Development, Economic Development and Planning, Housing)</option>
                        <option value="7">Technical services (Infrastructure Services, Infrastructure Development Services, Engineering Services)</option>
                    </select>

                    <div class="mb-3">
                        <label for="gross" class="form-label form-select-lg mb-3">Gross Salary</label>
                        <input type="amount" class="form-control form-select-lg mb-3" name="gross" id="gross" placeholder="R30000">
                    </div>


                    <label for="postlevel" class="form-label form-select-lg mb-3 text-right">Post Level</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="postlevel" id="postlevel">
                        <option selected></option>
                        <option value="1">Post Level 1</option>
                        <option value="2">Post Level 2</option>
                        <option value="3">Post Level 3</option>
                        <option value="4">Post Level 4</option>
                        <option value="5">Post Level 5</option>
                        <option value="6">Post Level 6</option>
                        <option value="7">Post Level 7</option>
                        <option value="8">Post Level 8</option>
                        <option value="9">Post Level 9</option>
                        <option value="10">Post Level 10</option>
                        <option value="11">Post Level 11</option>
                        <option value="12">Post Level 12</option>
                        <option value="13">Post Level 13</option>
                        <option value="14">Post Level 14</option>
                        <option value="15">Post Level 15</option>
                        <option value="16">Post Level 16</option>
                        <option value="17">Post Level 17</option>
                    </select>

                    <div class="mb-3">
                        <label for="dateabsorbed" class="form-label form-select-lg mb-3">Date Absorbed in Occupational Category / Job Family</label>
                        <!-- <label for="fundedfrom">From (date and time):</label> -->
                        <input class="form-control form-select-lg mb-3" type="date" id="dateabsorbed" name="dateabsorbed">
                    </div>

                    <div class="mb-3">
                        <label for="dateappointed" class="form-label form-select-lg mb-3">Date Promoted / Appointed to Current Position</label>
                        <!-- <label for="fundedto">From (date and time):</label> -->
                        <input class="form-control form-select-lg mb-3" type="date" id="dateappointed" name="dateappointed">
                    </div>

                    <label for="experience" class="form-label form-select-lg mb-3 text-right">Years of Experience in Current Position</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="experience" id="experience">
                        <option selected></option>
                        <option value="1">Less than a year</option>
                        <option value="2">1 year</option>
                        <option value="3">2 years</option>
                        <option value="4">3 years</option>
                        <option value="5">4 years</option>
                        <option value="6">5 years</option>
                        <option value="7">6 years</option>
                        <option value="8">7 years</option>
                        <option value="9">8 years</option>
                        <option value="10">9 years</option>
                        <option value="11">10 years</option>
                        <option value="12">11 years</option>
                        <option value="13">12 years</option>
                        <option value="14">13 years</option>
                        <option value="15">14 years</option>
                        <option value="16">15 years</option>
                        <option value="17">16 years</option>
                        <option value="18">17 years</option>
                        <option value="19">18 years</option>
                        <option value="20">19 years</option>
                        <option value="21">20 years +</option>
                    </select>
                            
                    <div>
                        <button type="submit" class="btn btn-primary" onclick="window.location.href = '/funding'">&laquo; Prev</button>
                        <button type="submit" class="input btn btn-primary" onclick="window.location.href = '/constraints'">Next &raquo;</button>
                    </div>
          </div>
     
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $("select.selectVal").change(function() {
          let selectedItem = $(this).children("option:selected").val();
          alert("You have selected the name - " + selectedItem);
        });
    });
</script>
<script>
  function changeButtonName(btnId, btnValue) {
      var btn = document.getElementById("i-greitis-dropdown");
  }
</script>
{% endblock %}
